.title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  font-family: 'system-ui, "Segoe UI",Roboto,Halvetica,Arial,sans-serif';
  margin-bottom: 24px;
}

.text {
  font-size: 1rem;
  text-align: center;
}

.container {
  position: relative;
  width: 840px;
  margin: 20px auto 20px;
  padding: 160px 80px;
}

.buttonLink {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

@media (max-width: 640px) {
  .title {
    text-align: left;
  }

  .text {
    text-align: left;
  }
  .container {
    width: calc(100% - 32px);
    margin: -40px auto 0;
    padding: 40px 16px;
  }
}
